* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-black: rgb(20, 20, 20);
    --color-white: rgb(235, 235, 235);
    --color-background: #d0cdc4;
}

body {
    background: var(--color-background);
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

main.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.home-btn{
    color: var(--color-black);
    text-decoration: none;
    margin-right: auto;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 5px;
}

#login-main, #signup-main{
    background: var(--color-white);
    border-radius: 16px;
    box-shadow: 1px 1px 2px 2px rgba(20, 20, 20, 0.10);
    padding: 40px 30px;
    max-width: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-title {
    font-size: 2rem;
    margin-bottom: 24px;
    color: var(--color-black);
    text-align: center;
}

#login, #signup{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login label, #signup label{
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-black)
}

#email,
#password, #signup-email, #signup-password{
    border: none;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 20px;
}

#email:focus,
#password:focus {
    outline: none;
    border: none;
    border: 1px solid lightgray;
}

#login-btn, #signup-btn{
    border-radius: 16px;
    padding: 20px;
    font-size: 16px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
    transition: 0.2s;
}

#login-btn:hover, #signup-btn:hover{
    background-color: rgb(80, 80, 80);
    transition: 0.2s;
}

#signup-section,
#forgot-password-btn, #login-section{
    padding: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}

#signup-section:hover,
#forgot-password-btn:hover, #login-section{
    border-bottom: 1px solid gray;
}

/* Sign Up */
#signup-main{
    display: none;
}